.imagen-back {
    background: url(../images/MaxBlog/Sección\ Img\ Feat.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -moz-background-size: cover;
    background-size: auto 80%;
    margin-right: 0px !important;
}

.imagen-backk {
    background: url(../images/MaxFUEL/Img_Feat_MaxFuel.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -moz-background-size: cover;
    background-size: auto 80%;
    margin-right: 0px !important;
}

.imagen-backk-fuel {
    background-image: url("../images/MaxFUEL/Img_Feat_MaxFuel.png");
    background-image: no-repeat !important;
    background-image: fixed !important;
    background-image: center !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 500px;
}

.rutas {
    background: url(../images/MaxBlog/Fondo\ Img\ Feattt.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -moz-background-size: cover;
    background-size: auto 80%;
    margin-right: 0px !important;
}

.vista2 {
    display: none;
}

.camioneta {
    transform: translate(-200px, 0px);
    margin-top: 50px;
}

.geo {
    text-align: end;
    text-transform: none;
    font-family: "Montserrat", sans-serif;
}

.background {
    background-color: none;
    width: 2000px;
    transform: translate(-250px, 0px);
}

.all {
    background-color: #f2f2f2;
    width: auto 100%;
}

.inicial {
    background-color: white;
    box-shadow: 1px 1px 3px #666;
    width: 1000px;
    position: relative;
    bottom: 80px;
    margin-left: 470px;
}

.geo2 {
    font-size: 14px;
    transform: translate(120px, -80px) !important;
    font-family: "Montserrat", sans-serif !important;
    text-transform: none;
}

.geo222 {
    font-size: 14px;
    transform: translate(300px, -70px) !important;
    font-family: "Montserrat", sans-serif !important;
    text-transform: none;
}

.geo21 {
    transform: translate(210px, -75px) !important;
    font-size: 14px;
    font-family: "Montserrat", sans-serif !important;
    text-transform: none;
}

.geo3Fuel {
    font-size: 20px;
    font-family: "Montserrat", sans-serif !important;
    text-transform: none;
    text-align: end !important;
}

.geo21Fuel {
    font-size: 14px;
    font-family: "Montserrat", sans-serif !important;
    text-transform: none;
    text-align: end !important;
}

.inicial2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px;
}

.inicial2Fuel {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 70px;
}

.social {
    padding-top: 0px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 10rem;
    box-shadow: rgb(255, 255, 255);
    position: absolute;
    top: 20px;
    left: 65px;
}

.gral {
    background-color: none;
    width: 1150px;
    height: 380px;
    padding: 10px;
    text-align: center;
    position: static;
}

.gralResFuel {
    background-color: rgb(255, 255, 255);
    width: auto;
    height: 100%;
    text-align: center;
    padding-bottom: 1840px;
}

.contenido button {
    margin-left: 10% !important;
}

.gral .contenido {
    background-color: none;
    color: black !important;
    width: 900px;
    height: 400px;
    font-size: 40px;
    padding-top: 50px;
    margin-left: 0px;
    font-family: "Montserrat", sans-serif;
    transform: translate(-700px, 0px);
}

.imgytext {
    background-color: white;
    box-shadow: 1px 1px 3px #666;
    width: 230px;
    height: 270px;
    position: absolute;
    left: 200px;
    border-radius: 0.5rem;
    margin-top: 50px;
}

.letras {
    position: absolute;
    top: 135px;
    left: 50px;
    font-family: "Montserrat", sans-serif;
}

.letras2 {
    position: absolute;
    top: 140px;
    left: 30px;
}

.comillas {
    font-family: "Poppins", sans-serif;
    color: #333333;
    font-size: 30px;
}

.flotilla {
    transform: translate(-40px, 0px);
    width: 300px;
}

.boton11 {
    background: #00436a;
    color: white;
    width: auto;
    font-size: 13px;
    border-radius: 0px;
    border: #00436a;
    font-family: "Montserrat", sans-serif;
}

@media (max-width: 950px) {
    .form-rev {
        flex-wrap: wrap-reverse;
    }
    .vista1 {
        display: none;
    }
    .letras2,
    .avatar {
        margin-top: 180px !important;
        text-align: center;
    }
    .vista2 {
        display: inherit;
    }
    .gral {
        background-color: rgb(255, 255, 255);
        width: auto;
        height: 454px;
        text-align: center;
    }
    .imgytext {
        height: 80px;
        background-color: white;
        top: -12px;
        left: 20px;
        box-shadow: 1px 1px 3px white;
        margin-left: 40px;
    }
    .gral .contenido {
        width: 300px;
        height: 50px;
        margin-top: 500px;
        text-align: center;
    }
    .iniciall {
        width: auto 100%;
        padding-bottom: 0px;
        margin-left: 6px;
        position: relative;
        margin: auto;
        text-align: left;
        background-color: white;
        box-shadow: 1px 1px 3px #666;
        bottom: 80px;
    }
    .backgroundd {
        padding-bottom: none;
        width: auto 100%;
        background-color: #f2f2f2;
        margin-left: 0px;
        text-align: center;
    }
    .comillas {
        font-family: "Poppins", sans-serif;
        color: #333333;
        font-size: 20px;
    }
    .cont1,
    .cont2,
    .cont3 {
        margin-left: 24px !important;
    }
    .cont4 {
        margin-left: 24px !important;
        margin-top: 20px !important;
    }
    .flechas {
        width: 100px;
        margin-left: 0px !important;
        padding-right: 0px;
        transform: translate(44px, 30px);
    }
    .flechass {
        width: 100px;
        margin-left: 0px !important;
        padding-right: 0px;
        transform: translate(50px, 32px);
    }
    .imagen-back {
        background: url(../images/MaxBlog/Sección\ Img\ Feat.png) no-repeat center center fixed;
        width: auto 100%;
        height: 300px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -moz-background-size: cover;
        background-size: auto 80%;
    }
    .imagen-backk {
        background: url(../images/MaxFUEL/Img_Feat_MaxFuel.png) no-repeat center center fixed;
        width: auto 100%;
        height: 400px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -moz-background-size: cover;
        background-size: auto 80%;
        background-position: -385px 60px;
    }
    .rutas {
        background: url(../images/MaxBlog/Fondo\ Img\ Feattt.png) no-repeat center center fixed;
        width: auto 100%;
        height: 300px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -moz-background-size: cover;
        background-size: auto 80%;
    }
    .comp {
        text-align: start !important;
    }
    .slide {
        padding-top: 30px;
        border-color: white !important;
    }
    .slidee {
        padding-top: 110px;
    }
    .mapa1 {
        width: 400px;
        height: 200px;
        margin-left: 0px !important;
    }
    .boton {
        transform: translate(100px, 0px) !important;
        margin-top: 0px !important;
    }
    .camionetaa {
        transform: translate(70px, 60px);
    }
    .mapaF {
        transform: translate(0px, 60px);
    }
    .camionetaaa {
        transform: translate(-2px, 46px);
    }
    .texto-final1 {
        font-size: 16px !important;
    }
    .gralResFuel {
        text-align: justify;
    }
    .textMaxFuelG {
        font-size: 19px !important;
    }
    .formReverse {
        flex-wrap: wrap-reverse;
    }
}

.section {
    padding-top: 0px;
    padding-bottom: 90px;
}

.boton {
    background: #00436a;
    color: white;
    width: auto;
    font-size: 13px;
    border-radius: 0px;
    border: #00436a;
    font-family: "Montserrat", sans-serif;
    transform: translate(350px, 0px);
}

.card {
    text-align: center;
    position: relative;
    display: inline-block;
}

.carru:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 10, 10, 0);
}

.boton1 {
    background: #00436a;
    color: white;
    width: auto;
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    border-radius: 0px;
    border: #00436a;
}

.boton2 {
    background: #f2f2f2;
    color: #6a6a6a;
    width: auto;
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    border-radius: 0px;
    border: #6a6a6a;
}

.clase {
    top: 200px;
    left: 800px;
    color: rgb(0, 132, 255);
}

.bodis {
    background-color: white;
    font-size: 20px;
    text-align: justify;
    font-family: "Poppins", sans-serif;
}

.texto-final {
    font-size: 25px !important;
    font-family: "Poppins", sans-serif;
    color: #4b4b4b;
    margin-top: 34px !important;
    margin-bottom: 0px !important;
    text-transform: none;
    margin-left: 0px;
    text-align: left;
}

.texto-final1 {
    font-family: "Poppins", sans-serif;
    color: #4b4b4b;
    font-size: 20px;
    text-align: left;
}

.etiquetas {
    height: 130px;
    font-family: "Montserrat", sans-serif;
}

.c1,
.c2 {
    padding-right: 20px;
}

.etiquetas .text {
    top: 200px;
    left: 800px;
    font-family: "Montserrat", sans-serif;
}

.boton-final {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont1 {
    background-color: #f2f2f2;
    box-shadow: 1px 1px 3px #666;
    width: 300px;
    margin-right: 20px;
    margin-left: 120px;
    margin-bottom: 20px;
    border-radius: 0.5rem;
    text-align: justify;
    font-family: "Montserrat", sans-serif;
    padding-top: 10px;
}

.cont2 {
    background-color: #f2f2f2;
    box-shadow: 1px 1px 3px #666;
    width: 300px;
    margin-bottom: 20px;
    border-radius: 0.5rem;
    font-family: "Montserrat", sans-serif;
    padding-top: 10px;
}

.cont3 {
    background-color: #f2f2f2;
    box-shadow: 1px 1px 3px #666;
    width: 300px;
    margin-right: 20px;
    margin-left: 120px;
    border-radius: 0.5rem;
    font-family: "Montserrat", sans-serif;
    padding-top: 10px;
}

.cont4 {
    background-color: #f2f2f2;
    box-shadow: 1px 1px 3px #666;
    width: 300px;
    border-radius: 0.5rem;
    font-family: "Montserrat", sans-serif;
    padding-top: 10px;
}

.flechas {
    width: 150px;
    margin-left: 260px;
}


/* FORM */

#contactoCorreo input {
    background: white !important;
}

#contactoCorreo textarea {
    background: white !important;
}

.demo1 {
    padding-left: 0px !important;
    font-size: 45px;
    text-align: left;
    line-height: 115%;
    font-weight: 600;
    letter-spacing: -1px;
    font-family: "Poppins", sans-serif;
    color: #4b4b4b;
}

.demo1 strong {
    color: rgb(75, 132, 172);
    font-weight: 700;
}

.demo2 {
    padding-left: 0px;
    text-align: left;
    font-size: 18px;
    line-height: 120%;
    font-family: "Poppins", sans-serif;
}

.cotizaYa {
    background: #d68441 !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
    color: white !important;
}

.buttonr {
    text-align: left;
}

#envioCorreo label {
    font-size: 12px;
}

.map {
    width: 250px;
    height: 150px;
}


/* END FORM */


/* VISTA C */

.ava {
    width: 100px;
    height: 100px;
    border-radius: 10rem;
    box-shadow: rgb(255, 255, 255);
    margin: 0px auto;
}

.boto {
    background: #00436a;
    color: white;
    width: auto;
    font-size: 13px;
    border-radius: 0px;
    border: #00436a;
    font-family: "Montserrat", sans-serif;
}

.cent {
    margin: 0px auto;
}

.centFuel {
    margin: 0px 5%;
    background: whitesmoke;
    border-radius: 1rem;
    box-shadow: 1px 1px 3px #666;
}

.imgyte {
    text-align: center;
}

.leta {
    transform: translate(0px, -10px);
}