.avatar
{
    width: 200px;
    height: 200px;
    border-radius: 10rem;
    position: absolute;
    top: 40px; left: 100px;
}
.gral{
    background-color: salmon;
    width: 1350px;
    height: 500px;
    text-align: center;
    position: absolute;


}
.gral .contenido{
    background-color: rgb(41, 30, 196);
    width: 700px;
    height: 300px;
    font-size: 20px;
    position: relative;
    top: 40px; left: 500px;

}



